.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.filter-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.add-org-button-container {
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.ui-input-asd {
  text-align: center !important;
}

.btn {
  text-align: right;
  margin-left: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ui.card {
  border: 1px solid #000;
  width: 365px;
  height: 470px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ui.img {
  margin: 10px;
  height: 300px;
  width: 340px;
}


.ui.custom-card {

  width: 300px; /* Set a fixed width for the card */

  min-height: 300px; /* Set a minimum height for the card to prevent excessive shrinking */

  display: flex; /* Use flexbox */

  flex-direction: column; /* Arrange card elements in a column */

  padding-bottom: 10px;

}




.ui.custom-card .image {

  flex: 1; /* Allow the image to expand and take available space */

  overflow: hidden; /* Hide any content that overflows the image container */

  display: flex; /* Use flexbox for the image container */

  justify-content: center; /* Horizontally center the image */

  align-items: center; /* Vertically center the image */

}




.ui.custom-card .image img {

  max-width: 100%; /* Make sure the image doesn't exceed its container width */

  max-height: 100%; /* Make sure the image doesn't exceed its container height */

}




.ui.custom-card .content {

  flex: 0; /* Don't allow content to expand, it should only take necessary space */

  padding: 1rem; /* Optional: Add padding to the content for better appearance */

}
